.header {
    background-color: transparent;
    height: 125px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Liberation Sans';
    padding: 0 25px;
}